<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Koteky</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script>
    window.$ = window.jQuery = require('jquery');
    window.$ = window.bootstrap = require('bootstrap');
    require('electron-stylus')(__dirname + '/style/index.styl');
    </script>
  </head>
  <body>
        <div id="app">
            <div class="container">
                <div class="row">
                    <div class="editor" data-spy="affix">
                            <div class="form-group">
                                <textarea class="form-control" id="contentText" v-model="comment" rows="3"></textarea>
                            </div>
                            <button class="btn btn-default pull-right" v-on:click="send">Send</button>
                    </div>
                </div>
                <div class="row">
                    <div class="post-stream">
                        <template v-for="post in model.posts | orderBy 'date' -1">
                            <post :data="post" />
                        </template>
                    </div>
                </div>
        </div>
        <script type="text/javascript">
            const viewModel = require('./lib/main/app-view-model');
            const model = require('./lib/main/app-model');
            const electron = require('electron');
            const ipcRenderer = electron.ipcRenderer;
            const BrowserWindow = electron.remote.BrowserWindow;
            const ElectronSettings = require('electron-settings');

            var settings = new ElectronSettings();
            var localwindow = new BrowserWindow({show: false, webPreferences: {nodeIntegration: false}});
            var modelObj;
            var viewModelObj;
            ipcRenderer.on('initialize', () => {
                this.modelObj = new model([], settings, window, localwindow);
                this.viewModelObj = new viewModel(window, modelObj);
            });
            ipcRenderer.on('finalize', () => {
                this.viewModelObj.finalize();
                ipcRenderer.send('now-close');
            });
        </script>
    </body>
</html>
