<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Koteky</title>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <base target="_blank">
    <script>
    window.$ = window.jQuery = require('jquery');
    window.$ = window.bootstrap = require('bootstrap');
    require('electron-stylus')(__dirname + '/style/index.styl');
    </script>
  </head>
  <body>
        <div id="app">
            <div class="container">
                <div class="row">
                    <div class="editor" data-spy="affix">
                        <div class="container">
                            <div class="row">
                                <textarea class="form-control" id="contentText" v-model="comment" rows="3"></textarea>
                            </div>
                            <div class="row editor-actions-container">
                                <div class="post-button">
                                    <button class="btn btn-default pull-right" v-on:click="send" v-bind:disabled="enable_post_button">Send</button>
                                </div>
                                <div class="plugins-list">
                                    <template v-for="plugin in model.pluginsManager.plugins">
                                        <label class="checkbox-inline">
                                            <input class="available-network" type="checkbox"  v-model="plugin.post_enalble">
                                            {{ plugin.name }}
                                        </label>
                                    </template>
                                </div>

                            </div>
                    </div>
                </div>
                <div class="row post-stream" v-infinite-scroll="getMorePosts()" infinite-scroll-disabled="busy" infinite-scroll-immediate-check=false infinite-scroll-distance="10">
                    <template v-for="post in model.posts | orderBy 'date' -1">
                        <post :data="post" />
                    </template>
                </div>
        </div>
        <script type="text/javascript">
            const intializer = require('./lib/main/app-initializer');
            const init  = new intializer(window);
        </script>
    </body>
</html>
