.post
    .panel-default
        margin: 0px;

.editor
    margin: 0px;
    width: 100%;
    height: 130px;
    background: white;

.post-stream
    margin-top: 130px;

.form-control
    resize: none;

.post-heading
    background-color: rgba(52, 152, 219, 1)!important;
    color: white!important;

.post-body
    background-color: white;

.post-stream
    margin: 0px;

.origin
    float: right;

.plugins-list
    width: auto;
    overflow: hidden;

.post-button
    width: 70px;
    float: right;
